body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0%;
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0px 20px;
    background-color: #f8f8f8; 
}

.logo {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex; 
    list-style: none; 
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    float: left;
}

nav ul li a {
    text-decoration: none; 
    color: #457DC2; 
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #007BFF; 
}

.container{
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.text {
    flex: 1.5;
    padding: 20px;
    max-width: 600px;
}

.text ul {
    list-style-type: none;
    padding-left: 20px;
}

.text ul li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}
h2{
    color: #457DC2;
}

p{
    max-width: 50%;
    font-weight: bold;
}

.image{
    max-width: 100%;
    height: auto;
    flex: 1;
    margin-right: 20px;
}