body{
    margin: 0;
    font-family: Arial, Helvetica;
}

header{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #f8f8f8;
}

.logo{
    width: 100px;
    height: auto;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav ul li {
    float: left;
}
  
li a {
    display: block;
    color: #457dc2;
    text-align: center;
    text-transform: uppercase ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

li a:hover {
    color: blue;
}

.text {
    max-width: 800px;
    padding-left: 400px;
}

h2 {
    color: #457DC2;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
    color: #000;
}

ul li {
    margin-bottom: 10px;
}

br {
    margin-bottom: 20px;
}