body{
    margin: 0;
    font-family: Arial, Helvetica;
}

header{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #f8f8f8;
}

.logo{
    width: 100px;
    height: auto;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav ul li {
    float: left;
}
  
li a {
    display: block;
    color: #457dc2;
    text-align: center;
    text-transform: uppercase ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

li a:hover {
    color: blue;
}
  

.right-img{
    width: 450px;
    height: 645px;
    object-fit: cover;
    float: right;
}

.container{

  }

.content{
   float: left;
}

.content ul{
    list-style-type: none;
    margin-top: 40px;
    margin-left: 200px;
   }

.content ul li{
    text-align: center;
    color: #457dc2;
    font-size: 34px;
    font-weight: bold;
}

.mentor-button{
    background-color: #457dc2;
    border: none;
    border-radius: 55%;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 42px;

}

/*body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0;
    background-color: #f8f8f8; 
}

.logo {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex; 
    list-style: none; 
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    float: left;
}

nav ul li a {
    text-decoration: none; 
    color: #457DC2; 
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #007BFF; 
}

.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
}

.right-img {
    margin-left: auto;
    margin-right: 0; 
    width: 40%;
    height: auto;
    object-fit: cover;
}

.content {
    margin-top: 10px;
    padding: 10px;
    margin-right: auto;
    margin-left: 0; 
}

.content ul {
    list-style-type: none; 
    padding-left: 95px;  
    text-align: center;      
}

.content li {
    padding: 5px;
    font-size: 35px;
    color: #457DC2;
    font-weight: bold;
}

.mentor-button{
    background-color: #457DC2;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 18px;
    border: none;
    transition: all 0.3s ease;
    margin-top: 20px;
    padding: 22px 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mentor-button:hover {
    background-color: #007BFF; 
    transform: ease(0.3s); 
}
*/ 