body{
    margin: 0;
    font-family: Arial, Helvetica;
}

header{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #f8f8f8;
}

.logo{
    width: 100px;
    height: auto;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav ul li {
    float: left;
}
  
li a {
    display: block;
    color: #457dc2;
    text-align: center;
    text-transform: uppercase ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

li a:hover {
    color: blue;
}
  

.right-img{
    width: 500px;
    height: 645px;
    object-fit: cover;
    float: right;
}

.container{}

.content{
   float: left;
}

.content ul{
    list-style-type: none;
    margin-top: 40px;
    margin-left: 180px;
    cursor: pointer;
   }

.content ul li{
    text-align: center;
    color: #457dc2;
    font-size: 34px;
    font-weight: bold;
}

.mentor-button{
    background-color: #457dc2;
    border: none;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 32px;
    transition-duration: 0.4s;
    margin-top: 30px;
    margin-left: 250px
}

.mentor-button:hover {
    background-color: #457dc2; 
    color: white;
    cursor: pointer;
  }

  .mentor-button2{
    background-color: #457dc2;
    border: none;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 32px;
    transition-duration: 0.4s;
  }

  .mentor-button2:hover{
    color: white;
    cursor: pointer;
  }